---
version: 1
Resources:
- TargetService:
    Type: AWS::ECS::Service
    Properties:
      # %%SK-CHANGE-REQUIRED%%
      # Add ARN of TaskDefinition for servers made by terraform or yours.
      # e.g. TaskDefinition: {{.AwsTaskDefinitionExample}}
      TaskDefinition: -------
      LoadBalancerInfo:
        ContainerName: {{.SkPrefix}}-container
        ContainerPort: 80
